Source: ugopherserver
Section: net
Priority: extra
Maintainer: Umbrellix <ellenor@umbrellix.net
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: https://github.com/asterIRC/aster-gophernicus

Package: uGopherServer
Architecture: any
Depends: ${shlibs:Depends}, debconf, netbase, openbsd-inetd | inet-superserver
Recommends: lsb-release
Suggests: lynx, php5-cli
Description: Modern, featureful Gopher daemon supporting S/Gopher, meant to be run in inetd.
 uGopherServer is a fork of the trusty Gophernicus gopher daemon. MOre info in the readme.
